__pycache__
.idea
.idea/*
venv
env
.pytest_cache
.coverahen 

# Comprehensive .gitignore found at:
https://github.com/github/gitignore/blob/master/Python.gitignore

```bash
git log
```
show a hsitory of the commits amde to this point in time
